.row.iconBadgeRow {
    margin-top: 20px;
}

.row.taoHotelName {
    margin-left: 35px;
}

.priceInfoArea img {
    max-width: 90px;
    margin: 0 auto 10px;
    display: block;
}

div.row.priceBookSave {
    margin-top: 0;
    margin-bottom: 0;
}