.row.taoHotelName {
    margin-left: 35px;
}

.priceInfoArea img {
    max-width: 90px;
    margin: 0 auto 10px;
    display: block;
}

.bottomBtnRow {
    bottom: 0;
    position: absolute;
}

div.taoHotelName > div.row.starRow {
    margin-left: 0 !important;
}

div.row.priceBookSave {
    margin-top: 0;
    margin-bottom: 0;
}

div.detailSpecsBottom .col-md-7.details {
    height: 182px;
}
