.row.taoHotelName {
    margin-left: 35px;
}

.priceInfoArea img {
    max-width: 90px;
    margin: 0 auto 10px;
    display: block;
}

.bottomBtnRow {
    margin-top: 32px;
    bottom: inherit;
}

div.taoHotelName > div.row.starRow {
    margin-left: 0 !important;
}

div.row.priceBookSave {
    margin-top: 0;
    margin-bottom: 0;
}