 #taoIconList p {
    padding-left: 25px;
    height: 23px;
    width: 186px;
    top: 75px;
    left: 20px;
}

.taoBkfst {
    background: transparent url("../images/taoIcons.png") no-repeat 0 -3px;
}

.taoWiFi {
    background: transparent url("../images/taoIcons.png") no-repeat 0 -3px;
}

.taoPrice {
    background: transparent url("../images/taoIcons.png") no-repeat 0 -3px;
} 