
.taoTrustMsg {
    padding: 10px 0;
    float: left;
    font-weight: bold;
    height: 20px;
    margin-bottom: -30px;

    img {
        vertical-align: middle;
        margin-left: 25px;
    }

    .taoSmaller {
        font-size: 11px;
    }

}
