.taoSOGrates {
    display: none;
    margin-top: -2px;
    border: 2px solid #0055a5;
 }

.taoSOGrates .secondaryRates {
    display: block !important;
}

.taoSpecialOfferGroup .regularRates,
.taoSpecialOfferGroup .secondaryRates {
    background-color: #fff;
}

.taoSOGpadding {
    padding-bottom: 45px;
    background-color: #ddd;
}

.taoSOGHeader input.cssButton.bcex,
.taoSOGFooter input.cssButton.bcex {
    text-transform: none !important;
    font-weight: bold;
    padding-left: 40px !important;
}

.taoSOGHeader input.cssButton.bcex {
    width: 194px !important;
}

.taoSOGFooter input.cssButton.bcex {
    width: 218px !important;
    position: relative;
    float: right;
    right: 154px;
    bottom: 2px;
}

.taoSOGHeader {
    background-color: #ddd;
}

.taoSOGHeaderPadding {
    padding-bottom: 3px;
}

#roomRateRoomType div.taoSOGrates > div.regularRates.roomsView:first-child {
    border-top: 0;
}

.taoSOGFooter {
    display: none;
}

.taoSOGHeader svg {
    height: 20px;
    width: 20px;
    position: relative;
    top: 6px;
    right: 194px;
}

.taoSOGFooter svg {
    height: 20px;
    width: 20px;
    position: relative;
    top: 6px;
    left: 593px;
}

svg.taoCirclePlus, svg.taoCircleMinus {
    cursor: pointer;
}

.taoSOGHeader span {
    padding: 9px 12px 9px 34px;
}

