.taoSOGrates {
    display: none;
    margin-top: -2px;
    border: 2px solid #0055a5;
 }

.taoSOGrates .secondaryRates {
    display: block !important;
}

.taoSpecialOfferGroup .regularRates,
.taoSpecialOfferGroup .secondaryRates {
    background-color: #fff;
}

.taoSOGpadding {
    padding-bottom: 45px;
    background-color: #ddd;
}

.taoSOGHeader input.cssButton.bcex,
.taoSOGFooter input.cssButton.bcex {
    text-transform: none !important;
    font-weight: bold;
    padding-left: 40px !important;
}

.taoSOGHeader input.cssButton.bcex {
    width: 194px !important;
}

.taoSOGFooter input.cssButton.bcex {
    width: 208px !important;
    position: relative;
    float: right;
    right: 154px;
    bottom: 2px;
}

.taoSOGFooter input.taoCircleMinus {
    background: url(http://prod.internal.ihg.com/content/dam/etc/media_library/branded/ex/cn/icons/EX_minus_sign_icon.png) 10px 7px no-repeat #0055a5 !important;
}

.taoSOGHeader {
    background-color: #ddd;
    font-weight: bold;
}

.taoSOGHeaderPadding {
    padding-bottom: 3px;
}

#roomRateRoomType div.taoSOGrates > div.regularRates.roomsView:first-child {
    border-top: 0;
}

.taoSOGFooter {
    display: none;
}

.taoSOGHeader img {
    position: relative;
    top: 6px;
    right: 194px;
    height: 20px;
    width: 20px;
}

.taoSOGFooter img {
    position: relative;
    top: 6px;
    left: 593px;
    height: 20px;
    width: 20px;
}

.taoSOGHeader span.taoCirclePlus {
    background: url(http://prod.internal.ihg.com/content/dam/etc/media_library/branded/ex/cn/icons/EX_plus_sign_icon.png) 7px 6px no-repeat #0055a5 !important;
    text-transform: capitalize !important;
}

.taoSOGHeader span.taoCircleMinus {
    background: url(http://prod.internal.ihg.com/content/dam/etc/media_library/branded/ex/cn/icons/EX_minus_sign_icon.png) 7px 6px no-repeat #0055a5 !important;
    text-transform: capitalize !important;
}

.taoSOGHeader span {
    padding: 9px 12px 9px 34px;
}