.taoFreeBrkfst {
    position: absolute;
    bottom: 5px;
    left: 220px;
    font-weight: bold;
}

.headerWrapper {
    position: relative;
}

.taoCheckStyles {
    fill: #0055a5;
    height: 20px;
    width: 20px;
    vertical-align: bottom;
    margin-bottom: -3px;
}

