.taoCheckBoxSpriteWhite {
  background-image: url("http://prodcache.internal.ihg.com/content/dam/etc/media_library/cn/0/cn/misc/sprite/taoUrgChecks.png");
  background-repeat: no-repeat;
  height: 25px;
  background-position: 0 0;
}