#resultsListContainer #reserveNowMsg {
    background: rgba(131, 0, 81, 0.15);
    border: 1px solid #c8c3c1;
}

.reserveNowMsgInnerDiv .reserveNowMsgTextDiv {
    color: #444444;
}

.taoCheckBoxSpritePurple {
  object-fit: none;
  width: 25px;
  height: 25px;
  object-position: 0 -29px;
}