.taoSOGrates {
    display: none;
}

.taoSOGrates .secondaryRates {
    display: block !important;
}

.taoSpecialOfferGroup .regularRates,
.taoSpecialOfferGroup .secondaryRates {
    background-color: #fff;
}

.taoSOGHeader input.cssButton.bcex,
.taoSOGFooter input.cssButton.bcex {
    text-transform: none !important;
    font-weight: bold;
    padding-left: 40px !important;
}

.taoSOGHeader input.cssButton.bcex {
    width: 141px !important;
}

.taoSOGFooter input.cssButton.bcex {
    width: 167px !important;
    position: relative;
    float: right;
    right: 154px;
}

.taoSOGHeader {
    background-color: #db6928;
    border-top: 3px solid #ddd;
    color: #fff;
    font-weight: bold;
    padding: 14px 30px 14px 14px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

#roomRateRoomType div.taoSOGrates > div.regularRates.roomsView:first-child {
    border-top: 0;
}

#roomRateRoomType .viewAllRatesLink {
    border-top: none;
}

.taoSOGHeader img.taoDownCaret {
    background: url(//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/6c/cn/icons/sprite/roomrates-sprite.png) no-repeat scroll -2px -64px transparent;
    height: 22px;
    margin-bottom: 0;
    width: 30px;
}

.taoSOGHeader img {
    background: url(//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/6c/cn/icons/sprite/roomrates-sprite.png) no-repeat scroll -2px -3px transparent;
    height: 22px;
    margin-bottom: 0;
    width: 30px;
}

svg.taoCaret {
    height: 10px;
    width: 24px;
}

.tao3RatePack .bestFlexibleHeaderImage {
    padding-top: 4px;
}

div.tao3RatePack span.rateCategory.roomOrder {
    float: none;
}