#sortOptions label.col-md-12.spanOffset {
    font-weight: bold;
}

#taoDistance {
    border: 1px solid #808080;
}

#taoRatingsAmenties {
    border: 1px solid yellow;
}

#taoBrandsFilterBy {
    border: 1px solid yellow;
}

#taoNewFilters {
    border-bottom: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    background-color: #EEEEEE;
    padding: 10px;
    min-height: 100px;
}

/* Make the background for the tab gray*/
.nav-tabs>li.active>a {
    background-color: #EEE !important;
}

/***** TAO DISTANCE stylings *****/
#taoDistance {
    border: 1px solid #CCC;
    width: 150px;
    padding: 5px;
}

#taoDistance span {
    margin-left: 0px;
    margin-bottom: 4px;
    padding-top: 0px;
}

div#taoBlueButton {
    padding-top: 17px;
}

/* putting spacing between the dropdown and the radio buttons and adjusting the height of the radio buttons*/
#taoDistance div { 
    margin-right: 10px;
}
#taoDistance label.radio-inline input[type=radio] {
    margin-top: 2px;
}

/***** TAO BLOCK DIV stylings ******/
.taoBlock {
    float: left;
    margin-right: 10px;
    min-width: 150px;
}

#filterSortForm .taoBlock button {
    margin-bottom: 7px;
}

#taoGuestRatings button {
    width: 190px !important;
}

#taoDistance button {
    margin-bottom: 0 !important;
}

#taoRatingsAmenties, #taoGuestRatings {
    margin-right: 20px;
}