#sortOptions label.col-md-12.spanOffset {
    font-weight: bold;
}

#taoDistance {
    border: 1px solid #808080;
}

#taoDistance span {

}

#taoRatingsAmenties {
    border: 1px solid yellow;
    position: absolute;
    padding: 10px;
}

#taoBrandsFilterBy {
    border: 1px solid yellow;
    position: absolute;
    padding: 10px;
    left: 215px;    
}