
/***** Styling for dynamic dropdowns -- Amenities, Brands, and Filter By *****/
.btn-group ul.multiselect-container.dropdown-menu.dimSelected {
    margin-top: -10px;
}

#taoIHGBrands .btn-group ul.multiselect-container.dropdown-menu.dimSelected, 
#taoFilterBy .btn-group ul.multiselect-container.dropdown-menu.dimSelected,
#taoAmenities ul.multiselect-container.dropdown-menu.dimSelected {
    width: 254px;
}

/***** Styling for dynamic dropdown -- Distance *****/
#taoDistance #distanceFilter + .spanB1 > .dropdown-menu {
    width: 57px;
}

/***** Styling for dynamic dropdown -- Ratings *****/
#taoGuestRatings .btn-group ul.multiselect-container.dropdown-menu {
    width: 254px;
    margin-top: -10px;
}

#sortOptions label.col-md-12.spanOffset {
    font-weight: bold;
}

/***** Styling for new DIVs that hold everything *****/
#taoNewFilters {
    border-bottom: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    background-color: #f2f2f2;
    padding: 10px;
    min-height: 100px;
}

/* hide a couple of empty DIVs that screw up alignment */
#filterSortForm > fieldset > div:nth-of-type(1),
#filterSortForm > fieldset > div:nth-of-type(2) {
    display: none;
}

 
#taoNewSortOptions {
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    padding: 10px;
}

/* Makes the sort options bar the right width */
#sortOptionsRow .col-md-12.sortBox {
    width: 929px;
}

/* Make the background for the tab gray*/
.nav-tabs>li.active>a {
    background-color: #f2f2f2 !important;
}

/***** TAO DISTANCE stylings *****/
#taoDistance {
    border: 1px solid #CCC;
    width: 150px;
    padding: 7px;
}

#taoDistance span {
    margin-left: 0px;
    margin-bottom: 4px;
    padding-top: 0px;
}

div#taoBlueButton {
    padding-top: 17px;
}

/* putting spacing between the dropdown and the radio buttons and adjusting the height of the radio buttons*/
#taoDistance div { 
    margin-right: 10px;
}
#taoDistance label.radio-inline input[type=radio] {
    margin-top: 2px;
}

/***** TAO BLOCK DIV stylings ******/
.taoBlock {
    float: left;
    margin-right: 10px;
    min-width: 150px;
}

#filterSortForm .taoBlock button {
    margin-bottom: 10px;
}

#taoDistance button {
    margin-bottom: 0 !important;
}

#taoRatingsAmenties, #taoBrandsFilterBy {
    margin-right: 20px;
    width: 247px;
}

/***** BUTTON stylings *****/
#taoRatingsAmenties button.multiselect.dropdown-toggle.btn.btn-sm.spanB1 {
    width: 247px;
}

#taoBrandsFilterBy button.multiselect.dropdown-toggle.btn.btn-sm.spanB1 {
    width: 247px;
}
